@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Google Sans", serif;
    padding: 3rem 1rem 0;
    color: #06221a;

    @media (width > 640px) and (width <=768px) {
        padding: 6rem 1rem;
        width: 70%;
        margin: auto;
    }

    @media (width > 768px) and (width <=1280px) {
        padding: 6rem 1rem;
        width: 36%;
        margin: auto;
    }

    @media (width > 1280px) {
        padding: 6rem 1rem;
        width: 30%;
        margin: auto;
    }
}

button {
    width: 100%;
    font-family: inherit;
    border: none;
    font-weight: 500;
    padding: .6rem .8rem;
    border-radius: .55rem;
    cursor: pointer;

    font-size: .9rem;
    transition: all .2s ease-in;

    &:hover {
        filter: brightness(88%);
    }
}

@supports (-webkit-touch-callout: none) {

    input,
    textarea,
    select {
        font-size: inherit;
    }
}

input[type="number"] {

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    -moz-appearance: textfield;
}