.header {
    margin-bottom: 4rem;

    & h1 {
        font-size: 1.4rem;
        color: #06221a;

        & span {
            font-family: "Playfair Display", serif !important;
            font-style: italic;
        }
    }
}