.gold-table-container {
    width: 100%;
    overflow-x: auto;
}

.gold-table {
    width: 100%;
    min-width: 53rem;
    border-collapse: collapse;
    font-family: Arial, sans-serif;

    thead {
        font-weight: bold;
        border-bottom: 1px solid #ccc;

        th {
        padding: 1.2rem 2.7rem 1.2rem 0;
        text-align: left;
        white-space: nowrap;
        vertical-align: top;
        }

        th.color-box {
        width: 80px;
        }
    }

    tbody {
        tr {
        &:not(:last-child) {
        border-bottom: 1px solid #ddd;
        }

        td {
        padding: 1.2rem 2.7rem 1.2rem 0;
        line-height: 1.6rem;
        vertical-align: top;
        }
        }
    }
}

.color-box {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #ccc;
}